---
title: Kulturea | About company
---
{% extends "layouts/_layout.html" %}
{% set active_page = "about" %}

{% block content %}

<div class="wrapper">
  {% include "partials/header.html" %}
  <main class="wrapper__content">
    <!-- top section -->
    {{ top('Najlepšie digitálne miesto', 'pre prepájanie firemnej kultúry a vášho úspechu', 'top-who-we-are', 'Kontaktujte nás', 'contact.html', '/') }}
    <!-- top section (end) -->

    <section class="section box">
      <div class="caption">
        <h2 class="title">KTO SME</h2>
        <div class="desc">
          Kultureu sme založili za účelom prezentácie firiem smerom na verejnosť, či už ide o
          potencionálne nových zamestnancov alebo aj existujúcich klientov, ktorí chcú vedieť,
          ako firma funguje a na akých hodnotách stojí.
        </div>
      </div>
      <div class="item item_reverse">
        <div class="item__base">
          <p>
            Myslíme si totiž, že tak ako si ľudia vyberajú svoj okruh priateľov, tak si vyberajú aj prácu a kultúru, ktorá je ich vlastným hodnotám najbližšie.
          </p>
          <p>
            Jedine takto je možné dosiahnuť maximálne efektívny a zdravý vzťah medzi firmou a zamestnancom.
          </p>
          <p>
            Taktiež je nemalá skupina existujúcich, prípadne potenciálnych zákazníkov, ktorí chcú poznať firmu, od ktorej si plánujú kupovať výrobky alebo služby.
          </p>
        </div>
        <div class="item__side">
          <img class="item__img" srcset="img/who.jpg, img/who@2x.jpg 2x" alt="">
        </div>
      </div>
      <div class="notice">
        <strong>Sme preto tým najlepším digitálnym miestom pre prepájanie firemnej kultúry a vášho úspechu.</strong>
      </div>
    </section>

    <section class="cover">
      <div class="box">
        <div class="caption">
          <h2 class="title">HLAVNÉ ČINNOSTI</h2>
        </div>
        <div class="item">
          <div class="item__base">
            <ul>
              <li>
                Vďaka inovatívnemu digitálnemu hubu rozvíjame kultúrne potreby firiem, individuálne kompetencie ľudí a talenty
              </li>
              <li>
                Prostredníctvom kvalitných služieb si budujeme dlhodobé a dôverné vzťahy s jednotlivcami a firmami
              </li>
            </ul>
          </div>
          <div class="item__side">
            <img class="item__img" srcset="img/business.jpg, img/business@2x.jpg 2x" alt="">
          </div>
        </div>
        <div class="item item_reverse">
          <div class="item__base">
            <ul>
              <li>
                Prekvapujeme jednoduchými a inovatívnymi riešeniami komplexných potrieb v oblasti digitálneho marketingu a ľudských zdrojov
              </li>
              <li>
                Poskytujeme intuitívny zážitok v digitálnom prostredí, čím vytvárame pozitívnu zákaznícku skúsenosť
              </li>
              <li>
                Poskytujeme intuitívny zážitok v digitálnom prostredí, čím vytvárame pozitívnu zákaznícku skúsenosť
              </li>
            </ul>
          </div>
          <div class="item__side">
            <img class="item__img" srcset="img/team.jpg, img/team@2x.jpg 2x" alt="">
          </div>
        </div>
      </div>
    </section>

    <section class="section box">
      <div class="caption">
        <h2 class="title">NAŠE CIELE</h2>
        <div class="desc">
          Pomáhať jednotlivcom v získavaní vyšších komepentencií na trhu práce a firmám
          v zvyšovaní kompetencií ich zamestnancov.
        </div>
      </div>
      <div class="item">
        <div class="item__base">
          <ul>
            <li>
              Byť primárnym digitálnym hubom na prezentáciu firemných kultúr a talentov na Slovensku a v okolitých krajinách
            </li>
            <li>
              Pomáhať firmám lepšie uchopiť ich firemnú kultúru a starať sa o jej neustále vylepšovanie, ako aj správnu digitálnu komunikáciu
            </li>
          </ul>
        </div>
        <div class="item__side">
          <img class="item__img" srcset="img/office.jpg, img/office@2x.jpg 2x" alt="">
        </div>
      </div>
      <div class="item item_reverse">
        <div class="item__base">
          <ul>
            <li>
              Pomáhať jednotlivcom v získavaní vyšších komepentencií na trhu práce a firmám v zvyšovaní kompetencií ich zamestnancov
            </li>
            <li>
              Prinášať nové príležitosti pre firmy a ľudí na pracovnom trhu a v digitálnom prostredí
            </li>
          </ul>
        </div>
        <div class="item__side">
          <img class="item__img" srcset="img/laptop-work.jpg, img/laptop-work@2x.jpg 2x" alt="">
        </div>
      </div>
    </section>

    <section class="cover">
      <div class="box">
        <div class="caption">
          <h2 class="title">Naša firemná kultúra</h2>
        </div>
        <div class="item">
          <div class="item__base">
            <h3>Odbornosť</h3>
            <p>
              Pristupujeme k potrebám našich klientov s úctou, vzájomným rešpektom a potrebnou odbornosťou vo všetkých sférach nášho podnikania.
            </p>
          </div>
          <div class="item__side">
            <img class="item__img" srcset="img/PhDr-Libor-Lubelec-2.jpg, img/PhDr-Libor-Lubelec-2@2x.jpg 2x" alt="">
          </div>
        </div>
        <blockquote class="quote quote_right">
          <p class="quote__text">
            “Myslím, že je dôležité byť profesionálny.<br>
            Pretože profesionalita ťa zaplatí”
          </p>
          <cite class="quote__author">- Erica Jong</cite>
          <svg class="quote__icon" width="290" height="214">
            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="img/sprite.svg#icon-quote"></use>
          </svg>
        </blockquote>
        <div class="item item_reverse">
          <div class="item__base">
            <h3>Technológie a inovácie</h3>
            <p>
              Využívame moderné technológie a nástroje, ktoré zefektívňuju poskytovanie služieb a
              prinášajú tak skvelý intiutívny digitálny zážitok pre našich zákazníkov.
            </p>
          </div>
          <div class="item__side">
            <img class="item__img" srcset="img/technology.jpg, img/technology@2x.jpg 2x" alt="">
          </div>
        </div>
        <blockquote class="quote">
          <p class="quote__text">
            “Niekedy v čase sa nová technológia, starý problém a veľká myšlienka zmenia na inováciu“
          </p>
          <cite class="quote__author">- Dean Kamen</cite>
          <svg class="quote__icon" width="290" height="214">
            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="img/sprite.svg#icon-quote"></use>
          </svg>
        </blockquote>
        <div class="item">
          <div class="item__base">
            <h3>Dôvera</h3>
            <p>
              Svojou prácou a otvoreným prístupom vytvárame silnú platformu, ktorá bude
              stavať na základných ľudských hodnotách v otvorenej a zároveň hodnovernej prezentácie firemných kultúr.
            </p>
          </div>
          <div class="item__side">
            <img class="item__img" srcset="img/trust.jpg, img/trust@2x.jpg 2x" alt="">
          </div>
        </div>
        <blockquote class="quote quote_right">
          <p class="quote__text">
            “Buď milou ľudskou bytosťou, s dobrým srdcom, milujúcou osobou. To je moje principiálne presvedčenie”
          </p>
          <cite class="quote__author">- Dalai Lama</cite>
          <svg class="quote__icon" width="290" height="214">
            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="img/sprite.svg#icon-quote"></use>
          </svg>
        </blockquote>
        <div class="item item_reverse">
          <div class="item__base">
            <h3>Rešpekt</h3>
            <p>
              Budeme silne podporovať tie firemné prostredia, v ktorých funguje dodržiavanie základných ľudských práv, vzájomnej tolerencie,
              rešpektu a spravodlivého zaobchádzania. Sú to totiž hodnoty, ktoré uznávame aj my sami.
            </p>
          </div>
          <div class="item__side">
            <img class="item__img" srcset="img/respect.jpg, img/respect@2x.jpg 2x" alt="">
          </div>
        </div>
        <blockquote class="quote">
          <p class="quote__text">
            “Rozprávam sa s každým rovnakým spôsobom, či už ide o smetiara alebo prezidenta prestížnej univerzity“
          </p>
          <cite class="quote__author">- Albert Einstein</cite>
          <svg class="quote__icon" width="290" height="214">
            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="img/sprite.svg#icon-quote"></use>
          </svg>
        </blockquote>
      </div>
    </section>

    <section class="section box" id="team">
      <div class="caption">
        <h2 class="title">Náš tím</h2>
        <div class="desc">
          V Kulturea kladieme veľký dôraz na prirodzenú diverzitu nášho tímu. Tá má totiž veľký vplyv na osobný
          rast každého z nás a v konečnom dôsledku aj poskytovanie služieb našim zákazníkom. Iné pohľady na rôzne
          témy a svet okolo nás dokážu neskutočným spôsobom posúvať v celkovom chápaní a riešení problémov.
        </div>
      </div>
      <div class="item">
        <div class="item__base">
          <h3>Tomáš Krebs, CEO</h3>
          <p>
            Tomáš počas svojej 17-ročnej kariéry nazbieral skúsenosti v rámci veľkých korporácií,
            kde zastával rôzne pozície v oblastiach sales, business development-u, business strategy a industry leadership-u.
          </p>
          <p>
            Medzi svoje najväčšie úspechy považuje prácu pre americkú spoločnosť Microsoft, kde pracoval ako Health industry Lead pre ČR a SR.
          </p>
          <p>
            Vyštudoval medzinárodné vzťahy a diplomaciu v Prahe a vo svojom voľnom čase sa rád venuje štúdiu psychológie a jazykom.
          </p>
        </div>
        <div class="item__side">
          <img class="item__img" src="img/Tomas-Krebs.jpg" alt="Tomáš Krebs">
        </div>
      </div>
      <div class="item item_reverse">
        <div class="item__base">
          <h3>
            PhDr. Libor Lubelec, CSc.,
            Social and Cultural Expert
          </h3>
          <p>
            Libor je sociológ a ekonóm. Má bohaté skúsenosti z analytickej, poradenskej a vzdelávacej činnosti vo
            firmách, ako aj v inštitúciách štátnej správy a verejnej služby.
          </p>
          <p>
            Pôsobil vo vedúcich funkciách, ako napríklad generálny riaditeľ sekcie a riaditeľ vzdelávacej inštitúcie na Univerzite Komenského v Bratislave.
          </p>
          <p>
            Neustále sleduje dianie vo svojich profesných oblastiach, či už v zahraničných publikáciách, odborných článkoch a tématických časopisoch.
          </p>
        </div>
        <div class="item__side">
          <img class="item__img" src="img/Libor-Lubelec.jpg" alt="PhDr. Libor Lubelec">
        </div>
      </div>
      <div class="item">
        <div class="item__base">
          <h3>Peter Gál, Strategy, Products and Marketing Expert</h3>
          <p>
            Peter má viac ako 15 rokov skúseností z oblasti ICT, bankového a gaming sektora.
          </p>
          <p>
            Zodpovedal najmä za riadenie stratégie, vývoj produktov, nový biznis a marketing.
          </p>
          <p>
            Rozumie tak svetu korporácií, ako aj vlastnému biznisu. Vyštudoval Ekonomickú univerzitu v Bratislave.
          </p>
        </div>
        <div class="item__side">
          <img class="item__img" src="img/Peter-Gal.jpg" alt="Peter Gál">
        </div>
      </div>
      <div class="item item_reverse">
        <div class="item__base">
          <h3>Tina Nekudová, Coaching and Strategy Advisor</h3>
          <p>
            Tina je rodáčka z Brna a absolventka FSEVUK, v odbore Medzinárodne vzťahy.
            Má za sebou skúsenosti z veľkej štvorky, ale najme z IT, nakoľko pracuje už niekoľko rokov pre spoločnosť Microsoft.
          </p>
          <p>
            Bola súčasťou rôznych projektov, v Česku a na Slovensku, podporujúcich mladé talenty, ako aj ženy v oblasti technologií.
            Zároveň pôsobí ako mentorka dievčat, ktoré majú záujem sa uplatniť v tvrdom biznisovom prostredí.
          </p>
          <p>
            Ako mladá, ambiciózna žena verí, že iba firma, ktorá sa zaujíma o svojich ľudí, môže byť na trhu úspešnou.
          </p>
        </div>
        <div class="item__side">
          <img class="item__img" src="img/Tina-Nekudova.jpg" alt="Tina Nekudová">
        </div>
      </div>
      <div class="item">
        <div class="item__base">
          <h3>Václav Šlapák, Advisor, kulturea.cz</h3>
          <p>
            Václav riadi vzdelávanie zamestnancov firiem v ČR aj SR už viac ako 23 rokov.</p>
          <p>
            Zameriava sa na obchod, manažment, osobnostný rozvoj a adaptabilitu, a podieľa sa na zmenách firemných kultúr.
          </p>
          <p>
            V mnohých prípadoch sa stáva lídrom zmien a implementátorom nových trendov v oblasti HR a digitalizácie.
          </p>
          <p>
            Rozumie svetu korporátov aj zamestnancov.
          </p>
        </div>
        <div class="item__side">
          <img class="item__img" src="img/Vaclav-Slapak.jpg" alt="Václav Šlapák">
        </div>
      </div>
      <div class="item item_reverse">
        <div class="item__base">
          <h3>Tomáš Petruš, Media & Visual production</h3>
          <p>
            Tomáš je ešte aktuálne študentom posledného ročníka Gymnázia.
          </p>
          <p>
            Aj napriek svojmu veku preukázal nesmierny talent pre vizuálnu tvorbu a postprodukciu.
          </p>
          <p>
            Venuje sa primárne fotografii a tvorbe videa. Má aj vlastnú značku: Tomas Petrus MEDIA.
          </p>
        </div>
        <div class="item__side">
          <img class="item__img" src="img/Tomas-Petrus.jpg" alt="Tomáš Petruš">
        </div>
      </div>
    </section>

  </main>

  <!-- sticky promo -->
  {% include "partials/promo-sm.html" %}
  <!-- sticky promo -->

  {% include "partials/footer.html" %}
</div>

{% endblock %}