---
title: Kulturea | Corporate culture
---
{% extends "layouts/_layout.html" %}
{% set active_page = "corporate-culture" %}

{% block content %}

<div class="wrapper">
  {% include "partials/header.html" %}
  <main class="wrapper__content">
    <!-- top section -->
    {{ top('Prinášame pocit štastia', 'vašim zamestnancom', 'top-corporate', 'Kontaktujte nás', 'contact.html', '/') }}
    <!-- top section (end) -->

    <section class="section box">
      <div class="caption">
        <h2 class="title">ČO ROBÍME</h2>
        <div class="desc">
          Firemná kultúra je spravidla definovaná ako komplex špecifických duchovných, materiálnych, intelektuálnych a emocionálnych čŕt ľudí pracujúcich v jednej spoločnosti, ktorý zahŕňa spolu s pracovnou náplňou aj spoločný spôsob fungovania v pracovnom prostredí, celkový systém práce, vytvorené tradície, napĺňanie spoločných a individuálnych cieľov.
        </div>
      </div>
      <div class="item item_reverse item_text_big">
        <div class="item__base">
          <p>
            Prináša tak dôležitý faktor, ktorý vplýva na subjektívny pocit štastia a naplnenia každého jednotlivca a teda aj zamestnanca.
          </p>
        </div>
        <div class="item__side">
          <img class="item__img" srcset="img/coffee-tablet.jpg, img/coffee-tablet@2x.jpg 2x" alt="">
        </div>
      </div>
      <div class="item">
        <div class="item__base">
          <p>
            Existuje na trhu názor, že v dnešnej dobe je najťažšie nájsť a udržať toho správneho zamestnanca. Plat? Už dávno neplatí, že je to alfa a omega.
          </p>
          <p>
            Predsa len, pracovať znamená tráviť minimálne 8 hodín svojho času v nejakom prostredí, interagovať s ľuďmi, ktorých si nevyberáme, riešiť úlohy a napĺňať definované ciele.
          </p>
          <p>
            Je teda dobre vedieť, hlavne sak sa rozhodujeme o pracovnej zmene, či daná spoločnosť je nášmu fungovaniu a aj osobných hodnotám tá správna.
          </p>
        </div>
        <div class="item__side">
          <img class="item__img" srcset="img/job.jpg, img/job@2x.jpg 2x" alt="">
        </div>
      </div>
      <div class="item item_reverse">
        <div class="item__base">
          <p>
            Myslíme si totiž, že tak ako si ľudia vyberajú svoj okruh priateľov, tak si vyberajú aj prácu a kultúru, ktorá je ich vlastným hodnotám najbližšie.
          </p>
          <p>
            Jedine takto je možné dosiahnuť maximálne efektívny a zdravý vzťah medzi firmou a zamestnancom.
          </p>
          <p>
            Taktiež je nemalá skupina existujúcich, prípadne potenciálnych zákazníkov, ktorí chcú poznať firmu, od ktorej si plánujú kupovať výrobky alebo služby.
          </p>
        </div>
        <div class="item__side">
          <img class="item__img" srcset="img/choice.jpg, img/choice@2x.jpg 2x" alt="">
        </div>
      </div>

      <div class="notice">
        <strong>Netreba teda podceňovať emočné naviazanie existujúcich ale aj potenciálnych zákazníkov na firmu.</strong>
      </div>

      <div class="item item_reverse">
        <div class="item__base">
          <p>
            Poznáte Apple? Kto nie, že? Je to kvôli ich produktom? Určite to hrá svoju rolu, ale verte nám, tá emočná naviazanosť zákazníkov vznikla hlavne kvôli príbehom a silnej komunikácii firemných hodnôt tejto firmy smerom na trh.
          </p>
          <p>
            Kvalita, inovácie a spoľahlivosť sú totiž prvky, ktoré si firma od začiatku nechala spájať so svojím menom. Prečo Microsoft a podobné spoločnosti aktuálne propagujú "LGBT Pride"?
          </p>
        </div>
        <div class="item__side">
          <img class="item__img" srcset="img/people-big.jpg, img/people-big@2x.jpg 2x" alt="">
        </div>
      </div>
      <div class="item">
        <div class="item__base">
          <p>
            Pretože to vyjadruje ich postoj k diverzite a ukazujú, že im na tom veľmi záleží, aby každý mal rovnaké práva a mohol žiť spokojný život.
          </p>
          <p>
            Niektorí môžu namietať, že to je len marketing. Súhlasíme z časti, ale treba to zobrať tak, že tak ako je veľa fanúšikov, tak je aj veľa "hejterov" tejto témy a firma by mohla podstúpiť isté riziko, že stratí kvôli názorovej nezhode klientov.
          </p>
          <p>
            Ale práve že to takto verejne komunikujú, ukazujú časť svojich hodnôt.
          </p>
        </div>
        <div class="item__side">
          <img class="item__img" srcset="img/business-small.jpg, img/business-small@2x.jpg 2x" alt="">
        </div>
      </div>
      <div class="item item_reverse">
        <div class="item__base">
          <p>
            Takých príkladov je samozrejme veľa, či už ide o inklúziu, uznanie, kontribúciu, spoločenskú zodpovednosť, kariérne možnosti, prípadne balanc medzi prácou a súkromím.
          </p>
          <p>
            Tí čo totiž pochopili, že ukazovať svoje hodnoty smerom von nie je na škodu, sú aj teraz tie najsilnejšie značky na trhu.
          </p>
        </div>
        <div class="item__side">
          <img class="item__img" srcset="img/office-work.jpg, img/office-work@2x.jpg 2x" alt="">
        </div>
      </div>

      <div class="notice">
        <strong>
          Pod firemnou kultúrou teda obvykle rozumieme
          jej kognitívnu a emočnú formu.
        </strong>
      </div>

    </section>

    <section class="cover">
      <div class="box">
        <div class="item">
          <div class="item__base">
            <h3>Kognitívna forma</h3>
            <p>
              Kognitívna forma kultúry v sebe zahrnuje explicitne formulované a následne zdieľané hodnoty , normy, pravidlá, symboly a rituály, ktoré slúžia ako vodítko pre skupinové a individuálne správanie sa zamestnancov v organizácii.
            </p>
            <p>
              Zjednodušene napísané, o explicitných hodnotách firemnej kultúry sa môžeme dočítať (etický kódex, strategický manuál, misia..), možno ich vidieť, sú súčasťou napríklad procesu adaptácie zamestnanca.
            </p>
            <p>
              Samotní zamestnanci ich môžu, ale aj nemusia poznať, môžu, ale aj nemusia si ich osvojiť a stotožniť sa s nimi, t.j. môžu byť pre prax funkčné, čo je tzv. silná kultúra a menej funkčné až nefunkčné, t.j. slabá kultúra.
            </p>
          </div>
          <div class="item__side">
            <img class="item__img" srcset="img/laptop-2.jpg, img/laptop-2@2x.jpg 2x" alt="">
          </div>
        </div>
        <div class="item item_reverse">
          <div class="item__base">
            <h3>Implicitné hodnoty a normy</h3>
            <p>
              Implicitné hodnoty a normy, t.j. hodnoty a normy správania, ktoré sa vytvorili v organizácii ako reakcia na určité správanie sa organizácie,
              resp. jej vedúcich sú často situačné a prenášajú sa len ústnym podaním.
            </p>
            <p>
              Je ich obtiažne spoznávať a aj korigovať. Vo vťahu k cieľom organizácie môžu mať pozitívny, ale častejšie neutrálny až negatívny vplyv.
            </p>
            <p>
              Ďalším kognitívnym vplyvom sú hodnoty kultúrnosti pracovného prostredia pre zamestnancov firmy na ich pracoviskách a pracovných miestach.
            </p>
            <p>
              Ide o vybavenie, dizajn, farebnosť pracoviska, bezpečné a zdraviu prospešné pracovné podmienky a podobne.
            </p>
          </div>
          <div class="item__side">
            <img class="item__img" srcset="img/values.jpg, img/values@2x.jpg 2x" alt="">
          </div>
        </div>
        <div class="item">
          <div class="item__base">
            <h3>Emočná forma kultúry</h3>
            <p>
              Emočná forma kultúry je o emóciách, pocitoch a postojoch, ktoré majú zamestnanci z prezentovanej vízie a
              stratégie organizácie, ako aj z hodnôt, noriem, pravidiel a symbolov, ktoré sú sprostredkovávané kognitívnou kultúrou.
            </p>
          </div>
          <div class="item__side">
            <img class="item__img" srcset="img/emotions.jpg, img/emotions@2x.jpg 2x" alt="">
          </div>
        </div>
        <div class="item item_reverse">
          <div class="item__base">
            <p>
              Emočnú kultúru ovplyvňuje hlavne spokojnosť, alebo nespokojnosť zamestnancov s jednotlivými stránkami pracovného procesu a to hlavne:
            </p>
            <ul>
              <li>
                vzťah k cieľom organizácie, útvaru a vlastným výkonovým cieľom, čo závisí od toho, či sú tieto ciele jasne formulované, zrozumiteľné a akceptovateľné
              </li>
              <li>
                vzťahy s vedúcim v procese riadenia pracovného procesu
              </li>
              <li>
                kariérové perspektívy a využitie potenciáílu zamestnancov
              </li>
              <li>
                vzťahy so spolupracovníkmi
              </li>
              <li>
                miera spokojnosti s pracovným prostredím a podmienkami pre vlastnú prácu
              </li>
            </ul>
          </div>
          <div class="item__side">
            <img class="item__img" srcset="img/peace.jpg, img/peace@2x.jpg 2x" alt="">
          </div>
        </div>
        <div class="item">
          <div class="item__base">
            <h3>Emočná stránka kultúry</h3>
            <p>
              Emočná stránka kultúry je veľmi dôležitá a vplýva na celkovú výkonnosť firmy zásadným spôsobom.
            </p>
            <p>
              Nie len pre samotnú kultúru celej organizácie, ale aj pre jednotlivé tímy v organizáciách, pretože emócie sa častejšie menia.
            </p>
            <p>
              A to isté platí od tímu k tímu. Sú však emócie prechodné, ktoré väčšinou súvisia s nečakanými a náhlimi zmenamy a potom sú dlhodobé, ktoré už súvisia s
              dlhodobou nespokojnosťou a frustráciou samotných zamestnancov, napr. voči štýlu riadenia, podmienkam, ohodnoteniu alebo uznaniu.
            </p>
          </div>
          <div class="item__side">
            <img class="item__img" srcset="img/happiness.jpg, img/happiness@2x.jpg 2x" alt="">
          </div>
        </div>
      </div>
    </section>

  </main>

  <!-- sticky promo -->
  {% include "partials/promo.html" %}
  <!-- sticky promo -->

  {% include "partials/footer.html" %}
</div>

{% endblock %}