---
title: Kulturea | Frequently asked questions
---
{% extends "layouts/_layout.html" %}
{% set active_page = "questions" %}

{% block content %}

<div class="wrapper">
  {% include "partials/header.html" %}
  <main class="wrapper__content">
    <!-- top section -->
    {{ top('Hľadáme odpovede', 'na najťažšie otázky', 'top-questions', 'Kontaktujte nás', 'contact.html', '/') }}
    <!-- top section (end) -->

    <article class="section box">
      <div class="caption">
        <h2 class="title">ČASTO KLADENÉ OTÁZKY</h2>
      </div>
      <div class="accordion">
        <section class="accordion__item accordion__item_opened">
          <h3 class="accordion__header">
            1. Čo je to firemná kultúra?
          </h3>
          <div class="accordion__box content content_light">
            <p>
              Firemná kultúra vyjadruje jednoducho to, ako sa k sebe v práci navzájom správame.
              Do toho zahŕňame procesy, etické kódexy, emočné naviazanie zamestnancov, ich spôsob interakcie
              a podávanie výkonu. To všetko vytvára celkový obraz o tom, ako sa vo firme pracuje a aký výkon sa podáva.
            </p>
          </div>
        </section>
        <section class="accordion__item">
          <h3 class="accordion__header">
            2. Zaujímajú sa firmy o firemnú kultúru?
          </h3>
          <div class="accordion__box content content_light">
            <p>
              Vo svete je bežné, že firmy, ktoré chcú napredovať sa veľmi vážne zaoberajú firemnou kultúrou.
              Uvedomujú si totiž, že to, ako sa ich zamestnanci cítia a ako sa k sebe navzájom, ale aj k firme
              správajú do podstatnej miery ovplyvňuje aj výsledky firmy na trhu. Všetky firmy v TOP 20 najhodnotnejsich
              firiem sveta považuje firemnú kultúru za prioritu svojho úspechu (Microsoft, Google, Amazon, Apple a pod.)
            </p>
          </div>
        </section>
        <section class="accordion__item">
          <h3 class="accordion__header">
            3. My sme malá firma a myslíme si, že firemnú kultúru nepotrebujeme nijako manažovať.
          </h3>
          <div class="accordion__box content content_light">
            <p>
              Takéto tvrdenie je podľa nášho vnímania omyl, ktorý si hlavne malé firmy neuvedomujú.
              V Kulturea sme toho názoru, že firmy s 10 a viac zamestnancami už potrebujú definovať
              kognitívnu stránku firemnej kultúry a zároveň pracovať s emočným prepojením ich zamestnancov
              na firemné hodnoty. Nechce byť aj malá firma úspešnejšia?
            </p>
          </div>
        </section>
        <section class="accordion__item">
          <h3 class="accordion__header">
            4. Ako manažovanie firemnej kultúry prebieha?
          </h3>
          <div class="accordion__box content content_light">
            <p>
              Sú firmy, ktoré už majú definované základné kognitívne hodnoty firemnej kultúry.
              Medzi to sa radí tagline (motto), vízia, misia a stratégia. Následne sa môžu plne
              venovať jej presadzovaniu a naviazaniu na cieľe a motiváciu zamestnancov. V Kulturea
              pomáhame firmám definovať základné hodnoty (ak ich ešte nemajú), ale aj ich presadzovať
              následne do praxe. Na to využívame zabehnuté postupy, naše know-how a silne individuálny prístup ku každému nášmu klientovi.
            </p>
          </div>
        </section>
        <section class="accordion__item">
          <h3 class="accordion__header">
            5. Sme globálna firma a všetko súvisiace s firemnou kultúrou máme dané. Ako môžeme na tomto pracovať lokálne?
          </h3>
          <div class="accordion__box content content_light">
            <p>
              Na jednej strane stoja globálne rozhodnutia, ktoré treba rešpektovať, na druhej strane je dôležité, ako sú tieto
              rozhodnutia vnímané lokálne. V prípade, že máte dané vízie a hodnoty globálne, vašou úlohou je, aby zamestnanci
              v lokálnych pobočkách pociťovali, že tieto hodnoty vo firme naozaj sú, že sa ich to týka, že to nie je iba hore
              vymyslené, ale že to má svoju podstatu a oni môžu mať, svojim správaním, vplyv na prípadnú zmenu a vytváranie
              vlastnej kultúry. Zároveň je potrebné globálne ciele prispôsobiť a priblížiť lokálnym potrebám a kultúrnym rozdielnostiam.
            </p>
          </div>
        </section>
        <section class="accordion__item">
          <h3 class="accordion__header">
            6. Čo môžem očakávať, keď začnem manažovať firemnú kultúru?
          </h3>
          <div class="accordion__box content content_light">
            <p>
              V Kulturea veríme, že iba spoločnosti, ktoré sa zaujímajú o firemnú kultúru môžu byť dlhodobo úspešné.
              Business stojí na ľuďoch, na ich výkonoch, na ich presvedčeniach. Vytvorte pre ľudí miesto, za ktoré budú
              ochotní bojovať. Lojálnosť voči firme je dar, ktorý prinesie zaručený úspech. Kým nemáme vo firme
              motivovaných zamestnancov, náš potenciál sa znižuje na minimum. Pokiaľ vyžadujeme od svojich ľudí
              tu najvyššiu výkonnosť, musia cítiť, že im to vieme vrátiť späť, že ich počúvame, a že vieme, čo im
              pomáha byť v ich roli úspešnými a spokojnými. Zároveň chceme byť firmou, ktorá si svojich zamestnancov
              udrží, nemusí riešiť vysokú fluktuáciu, darí sa jej priťahovať najlepších z najlepších a vieme sa vyrovnávať s trendmi na trhu.
            </p>
          </div>
        </section>
        <section class="accordion__item">
          <h3 class="accordion__header">
            7. Aké základne otázky si máme položiť, aby sme sa vedeli zamyslieť nad konceptom firemnej kultúry v našej firme?
          </h3>
          <div class="accordion__box content content_light">
            <p>
              Akákoľvek otázka, ktorá smeruje k hodnotám firmy a zamestnancom je správna. Nižšie uvádzame pár príkladov:
            </p>
            <ul>
              <li>
                Vieme na čo sú naši zamestnanci pyšný, keď pracujú pre našu firmu?
              </li>
              <li>
                Vedia naši zamestnanci, aká je vízia našej firmy?
              </li>
              <li>
                Aké benefity prinášame našim zamestnancom?
              </li>
              <li>
                Majú naši zamestnanci možnosť spätnej väzby?
              </li>
              <li>
                Akým spôsobom meriame výsledky našich zamestnancov?
              </li>
              <li>
                Sú naši zamestnanci dostatočne informovaný o chodu firmy?
              </li>
              <li>
                Pociťujú naši zamestnanci work-life balance?
              </li>
              <li>
                Majú naši zamestnanci možnosť vzdelávania?
              </li>
              <li>
                Aké sú hlavné dôvody odchodov ľudí z firmy?
              </li>
            </ul>
          </div>
        </section>
        <section class="accordion__item">
          <h3 class="accordion__header">
            8. Ako viem, že mám vo firme vhodne nastavenú firemnú kultúru?
          </h3>
          <div class="accordion__box content content_light">
            <p>
              Kreovanie firemnej kultúry je kontinuálny proces. Dôležitá je transparentnosť a pravidelná spätná väzba od
              zamestnancov. V momente, kedy zamestnanci pocítia, že ich názory a postoje sú vypočuté a rešpektované, ich
              motivácia prirodzene narastie. Iba v prípade, že budete ochotní akceptovať úprimne podnety a vyhodnocovať ich,
              budete rásť ako firma. Najlepším znakom dobre nastavenej firemnej kultúry sú zamestnanci, ktorí sa neboja povedať
              svoj pohľad, odporúčajú vašu firmu priateľom, dobrá nálada a splnené firemné ciele.
            </p>
          </div>
        </section>
        <section class="accordion__item">
          <h3 class="accordion__header">
            9. Ako zaručím, že mám vo firme správnych ľudí?
          </h3>
          <div class="accordion__box content content_light">
            <p>
              „Aký som, takých ľudí priťahujem“. Práve v momente, keď má firma jasne stanovené hodnoty a vízie, je jednoduchšie
              nájsť správnych kandidátov. Ľudia chcú pracovať pre spoločnosti, ktoré majú dobré meno, dobrú reputáciu a ktoré im
              vedia priniesť viac, ako len každomesačnú výplatnú pásku. Chcú pracovať vo firmách, s ktorými sa vedia stotožniť.
              Základom je dobre premyslený a cielený nábor. Tými by mali byť rôznorodé. Každá firma potrebuje kreatívcov, individualistov,
              ale aj silných tímových hráčov. Náboroví manažéri musia mať jasno nielen o požadovaných zručnostiach, ale najmä o tom, akú osobnosť hľadajú.
            </p>
          </div>
        </section>
        <section class="accordion__item">
          <h3 class="accordion__header">
            10. Je naše firma schopná fungovať bez manažovanej firemnej kultúry?
          </h3>
          <div class="accordion__box content content_light">
            <p>
              Pravdepodobne na určitý čas áno. Avšak je to ako neriadená strela. Môžete sa párkrát trafiť, ale nezaručuje vám to nijaký
              konzistentný úspech. Každá firma, ktorá má za cieľ rásť a zlepšovať sa, musí mať postavené silné základy.
            </p>
          </div>
        </section>
        <section class="accordion__item">
          <h3 class="accordion__header">
            11. Koľko úsilia ma bude stáť nastaviť firemnú kultúru?
          </h3>
          <div class="accordion__box content content_light">
            <p>
              Nastavenie firemnej kultúry nie je jednorazový projekt. Firemná kultúra sa vyvíja spoločne s firmou,
              jej cieľmi, veľkosťou firmy, postavením na trhu, stavom spoločnosti.
            </p>
          </div>
        </section>
        <section class="accordion__item">
          <h3 class="accordion__header">
            12. Prečo by som mal spolupracovať s Kulturea?
          </h3>
          <div class="accordion__box content content_light">
            <p>
              Veríme, že väčšina spoločností sa už istým spôsobom venuje tematike firemnej kultúre, avšak nemá to nijak formalizované.
              Externý pohľad je spravidla objektívnejší, ako je ten interný a je vnímaný ako chuť niečo zmeniť, nie kritizovať a podkopávať.
              V Kulturea pracujú odborníci z businessu, ktorí si na jednej strane vedia predstaviť, akým nástrahám musí firmy čeliť,
              na druhej strane sa dokážu vcítiť do pozície zamestnancov. Prinášame odbornosť v oblastiach businessu, sociológie,
              komunikácie, PR, marketingu a digitálneho prostredia. Sme schopní pomôcť firmám v akomkoľvek štádiu, nastaviť firemnú
              kultúru od úplného začiatku, ale aj vylepšovať aktuálny, zabehnutý stav.
            </p>
          </div>
        </section>
      </div>
    </article>

  </main>

  <!-- sticky promo -->
  {% include "partials/promo.html" %}
  <!-- sticky promo -->

  {% include "partials/footer.html" %}
</div>

{% endblock %}