<div class="promo-sm">
  <img class="promo-sm__img" srcset="img/promo-sm.jpg, img/promo-sm@2x.jpg 2x" alt="">
  <div class="promo-sm__content">
    <div class="promo-sm__title">
      Kulturea spúšťa
      vianočnú kampaň.
    </div>
    <div class="promo-sm__desc">
      Darujte si pod stromček digitálny
      profil v uvádzacej zľave.
    </div>
    <div class="promo-sm__note">
      Akcia platí od 15.11. do 31.12.2019
    </div>
    <div class="promo-sm__btn">
      <a href="#" class="btn btn_color btn_size_small">Darovať darček</a>
    </div>
  </div>
  <span class="promo-sm__close"></span>
</div>