<div class="promo">
  <div class="promo__bg">
    <img class="promo__img" srcset="img/promo.jpg, img/promo@2x.jpg 2x" alt="">
  </div>
  <div class="promo__box box">
    <div class="promo__base">
      <div class="promo__title">
        Kulturea spúšťa vianočnú kampaň.
      </div>
      <div class="promo__desc">
        Darujte si pod stromček digitálny profil v uvádzacej zľave.
      </div>
      <div class="promo__note">
        Akcia platí <span class="promo__mark">od 15.11. do 31.12.2019</span>
      </div>
    </div>
    <div class="promo__side">
      <a href="price-list.html" class="btn btn_light">Darovať digitálny profil</a>
    </div>
  </div>
  <span class="promo__close"></span>
</div>