.icon-arrow-back {
  width: 1.27em;
  height: 1em;
  fill: ;
}
.icon-arrow-right {
  width: 0.56em;
  height: 1em;
  fill: ;
}
.icon-logo-kulturea {
  width: 5.12em;
  height: 1em;
  fill: ;
}
.icon-quote {
  width: 1.36em;
  height: 1em;
  fill: ;
}
